*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

/* Start Styles Header Nav */
.head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.left-nav {
  margin-left: 20px;
}

.right-nav {
  margin-right: 20px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul li.nav-item {
  margin: 0 10px;
}

ul li.nav-item a.nav-item-link {
  text-decoration: none;
  color: #000;
  opacity: .75;
}

ul li.nav-item a.nav-item-link:hover {
  text-decoration: underline;
}

ul li a.apps-icon {
  position: relative;
  top: 2px;
}

ul li.nav-item a.nav-item-link.signin {
  padding: 10px 16px;
  font-weight: 700;
  background-color: #4583EB;
  color: #fff;
  border-radius: 4px;
  opacity: 1;
}

ul li.nav-item a.nav-item-link.signin:hover {
  text-decoration: none;
  background-color: #3D73CF;
}

/* End Styles Header Nav */

/* Start Main Content */
.main-container {
  /* background-color: #ccc; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  padding-top: 150px;
  margin-bottom: .75em;
}

.input-container {
  /* background-color: red; */
  padding: 5px 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  font-size: 14px;
}

input.search-bar {
  text-align: left;
  padding: .5em;
  border: 0;
  width: 500px;
}

input.search-bar:focus,
input.search-bar:active,
input.search-bar:target {
  border: 0;
  outline: none;
}

.input-container .search-icon {
  margin-left: 8px;
}

.input-container .voice-icon {
  margin-right: 8px;
}